body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}
.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 80px; 
    background-color: rgb(128, 218, 196);
    color: #000; 
    border-radius: 50%; 
    font-size: 20px; 
    font-weight: bolder; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 60px;
}
.logo:hover {
    background-color: azure;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}
.navbar li {
    margin: 30px;
}
.navbar a {
    display: block;
    color: rgb(128, 218, 196);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.search {
    position: absolute;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    align-items: center;
}
.srch {
    padding: 5px;
    margin-bottom: 660px;
    border: none;
    background: transparent;
    border: 1px solid rgb(128, 218, 196);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
}
.btn {
    padding: 5px 10px;
    border: none;
    margin-bottom: 660px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid rgb(128, 218, 196);
    background-color: rgb(128, 218, 196);
    color: #000;
    cursor: pointer;
}
.search-button:hover {
    background-color: #ddd;
}
.btn:focus {
    outline: none;
}
.srch:focus {
    outline:none;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 9%;
    letter-spacing: 2px;
}
.content .cn {
    width: 160px;
    height: 40px;
    background:  rgb(128, 218, 196);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
    font-weight: bolder;
}
.cn:hover {
    background-color: azure;
}
.content span {
    font-size: 60px;
    color: rgb(128, 218, 196);
    font-family: Merienda;
}
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870;
    border-radius: 10px;
    padding: 25px;
    margin-left: 1000px;
    margin-top: 50px;

}
.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:  rgb(7, 17, 14);
    background-color: azure;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(128, 218, 196);
    border-top: 5px;
    border-right: none;
    border-left: none;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus {
    outline: none;
}
::placeholder {
    color: azure;
    font-family: Arial;
}
.btnn {
    width: 240px;
    height: 40px;
    background: rgb(128, 218, 196);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 5px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    cursor: pointer;
    color: azure;  
    transition: 0.4s ease;
}
.btnn:hover {
    background: #ddd;
    color: rgb(128, 218, 196);
}
.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;  
}
.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    
    text-align: center;
}
.form .link a {
    text-decoration: none;
    color: rgb(128, 218, 196);
}
.liw {
   
    text-align: center;
}
.icons {
   padding-left: 15px;
   padding-top: 5px;
   transition: 0.4s ease;
   font-size: 25px;
}
.icons:hover {
    color:  rgb(128, 218, 196);
}
.input-container label {
    position: relative;
    display: inline-block;
}
.input-container .fa-eye, .input-container .fa-eye-slash {
    position: absolute;
    top: 40%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: 15px;
}
